body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #270202;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between ;
  padding: 20px 40px;
  background-color: #030016;
  color: white;
  gap: 50px;
}
.navbar a:hover {
  color:#341111;
  transition: 0.5s;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;

}

.search-box input {
  padding: 8px 15px;
  border-radius: 999px;
  border: none;
  outline: none;
  width: 300px;
}

.search-box input:hover {
  box-shadow: 0 0 5px #ff4c4c;
}

.main-content {
  padding: 40px;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.intro-left {
color: white;
font-size: 25px;
}
.intro-left h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  
}

.byte {
  color: white;
  padding: 10px;
  
}

.core {
  color: red;
}

.intro-left p {
  font-style: italic;
  margin-top: 10px;
}

.intro-right {
  text-align: right;
  font-style: italic;
  padding-right: 20%;
}

.intro-right .desconto {
  font-size: 32px;
  font-weight: bold;
  color: red;
  text-align: center;
  display:inline-block;
}
#numbers{
  padding-right: 70px;
  font-size: 33px;
}


.intro-right p {

  color: white;
  font-size: 25px;
  text-align: center;
}
.categories {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 30px;
  
}
.category {
  color: white;
}
.category p {
  font-style: italic;
  margin-bottom: 10px;
  font-weight: 400px;
  font-size: x-large;  
  
}

.category img {
  max-width: 250px;
  height: 250px;
}